<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.link.LinkMapper">
    <resultMap id="BaseResultMap" type="com.blog.entity.link.Link">
        <id column="link_id" jdbcType="INTEGER" property="linkId"/>
        <result column="username" jdbcType="TINYINT" property="linkUrl"/>
        <result column="link_url" jdbcType="VARCHAR" property="linkUrl"/>
        <result column="link_name" jdbcType="VARCHAR" property="linkName"/>
        <result column="link_image" jdbcType="VARCHAR" property="linkImage"/>
        <result column="link_target" jdbcType="VARCHAR" property="linkTarget"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="link_status" jdbcType="TINYINT" property="linkStatus"/>
        <result column="link_sort" jdbcType="INTEGER" property="linkSort"/>
        <result column="link_type" jdbcType="TINYINT" property="linkType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        link_id, link_url, link_name,description,link_image,link_target,link_status,link_sort,link_type,create_time,update_time
    </sql>
    <select id="getLinksByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from link where link_status = 0
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>
    <select id="getLinkById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from link where link_id=${linkId};
    </select>
    <select id="getLinkTotal" resultType="java.lang.Integer">
        select count(*) from link
        <if test="keyword!=null">
            where (link_name like CONCAT('%','${keyword}','%')) or (link_url like concat('%','${keyword}','%'))
        </if>
    </select>
    <update id="deleteBatchLinks">
        update tb_link
        set link_status=1 where link_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="linkId" parameterType="com.blog.entity.link.Link">
        insert into link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkId != null">
                link_id,
            </if>
            <if test="linkType != null">
                link_type,
            </if>
            <if test="linkName != null">
                link_name,
            </if>
            <if test="linkUrl != null">
                link_url,
            </if>
            <if test="linkTarget != null">
                link_target,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="linkSort != null">
                link_sort,
            </if>
            <if test="linkStatus != null">
                link_status,
            </if>
            <if test="linkImage != null">
                link_image,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="linkId != null">
                #{linkId,jdbcType=INTEGER},
            </if>
            <if test="linkType != null">
                #{linkType,jdbcType=TINYINT},
            </if>
            <if test="linkName != null">
                #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="linkUrl != null">
                #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="linkTarget != null">
                #{linkTarget,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="linkSort != null">
                #{linkSort,jdbcType=INTEGER},
            </if>
            <if test="linkStatus != null">
                #{linkStatus,jdbcType=TINYINT},
            </if>
            <if test="linkImage != null">
                #{linkImage,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateSelective" parameterType="com.blog.entity.link.Link">
        update link
        <set>
            <if test="linkType != null">
                link_type = #{linkType,jdbcType=TINYINT},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="linkUrl != null">
                link_url = #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="linkSort != null">
                link_sort = #{linkSort,jdbcType=INTEGER},
            </if>
            <if test="linkStatus != null">
                link_status = #{linkStatus,jdbcType=TINYINT},
            </if>
            <if test="linkTarget != null">
                link_target = #{linkTarget,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="linkImage != null">
                link_image = #{linkImage,jdbcType=VARCHAR},
            </if>
        </set>
        where link_id = #{linkId,jdbcType=INTEGER}
    </update>
</mapper>